<!DOCTYPE html>
<html>
<%- include('header'); -%>
<head>
    <title>View Users</title>
    <link rel="stylesheet" href="/css/tables.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <h1 class="tableLargeHeader">View Users</h1>
    
    <div class="tableContainer">
        <% if(showReturnToCompanies) { %>
        <a class="actionButton" id="returnToCompaniesButton" href="../"><button class="returnToCompaniesButton " >Back</button></a>
        <% }  %>
        <table class="viewUsersTable">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
                
            </tr>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.name%></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    
                    <td >
                        <div class="actionButtonsContainer">
                            <a class="actionButton" href="/admin/companies/<%= user.id %>/edit"><button >Edit</button></a>
                            
                        </div>
                    </td>
                </tr>
            <% }); %>
        </table>
</body>
</html>