<!DOCTYPE html>
<html>
<head>
    <title>View Users</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <h1>View Users</h1>

    <div class="viewUsersContainer">
        <table class="viewUsersTable">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
                
            </tr>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.name%></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    
                    
                    <td>
                        <a href="/admin/companies/<%= user.id %>/edit">Edit</a>
                        <a href="/admin/companies/users/view"><button>View Users</button></a>
                        <form action="/admin/companies/<%= user.id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </table>
</body>
</html>