<!DOCTYPE html>
<html>
<head>
    <title>Company Invite Success!</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <main>  
        <div class="adminDashboard">
            <h1>Company Invite Success</h1>
            <h2>Company Name: </h2> <h3><%= companyName %></h3>

            <h2>Manager Invited</h2>
            <h3>Name: </h3>
            <h4><%= invitedManager.firstName %></h4>
            <h3>Last Name: </h3>
            <h4><%= invitedManager.lastName %></h4>
            <h3>Email: </h3>
            <h4><%= invitedManager.email %></h4>
        </div>
    </main>
</body>
</html>