<!DOCTYPE html>
<html>
<%- include('header'); -%>
<head>
    <title>View Users</title>
    <link rel="stylesheet" href="/css/tables.css">

</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <h1 class="mediumHeader">View Users of: <%= user.company_name %></h1>

    <div class="viewUsersContainer">
        <table class="viewUsersTable">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>

            <% users.forEach(function(companyUser) { %>
                <tr>
                    <td><%= companyUser.first_name %></td>
                    <td><%= companyUser.last_name %></td>
                    <td><%= user.company_name %></td>
                    <td><%= companyUser.email %></td>
                    <td><%= companyUser.role %></td>
                    <td>
                        <a href="/manager/dashboard/users/<%= user.id %>/edit"><button>Edit</button></a>
                    </td>
                </tr>
            <% }); %>
            
        </table>
</body>
</html>