<!DOCTYPE html>
<html>
<%- include('header'); -%>
<head>
    <title>View Users</title>
    <link rel="stylesheet" href="/css/tables.css">
</head>
<body>
    <div class="">
        <%- include('navbar'); -%>
    </div>

    <h1 class="mediumHeader">View Users of: <%= user.company_name %></h1>

    <div class="viewUsersContainer">
        <div id="message-container"></div>
        <table class="viewUsersTable">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>

            <% users.forEach(function(companyUser) { %>
                <tr class="displayRow" data-user-id="<%= companyUser.id %>">
                    <td class="firstName"><%= companyUser.first_name %></td>
                    <td class="lastName"><%= companyUser.last_name %></td>
                    <td class="company"><%= user.company_name %></td>
                    <td class="email"><%= companyUser.email %></td>
                    <td class="role"><%= companyUser.role %></td>
                    <td>
                        <div class="actionButtonsContainer">
                            <button class="editButton actionButton" data-user-id="<%= companyUser.id %>">Edit</button>
                        </div>
                    </td>
                </tr>
                <tr id="editUserRow-<%= companyUser.id %>" class="editRow" style="display: none;">
                    <form id="userEditForm-<%= companyUser.id %>" data-user-id="<%= companyUser.id %>" data-manager>
                        <td>
                            <input type="text" class="firstName" name="firstName" value="<%= companyUser.first_name %>" required />
                        </td>
                        <td>
                            <input type="text" class="lastName" name="lastName" value="<%= companyUser.last_name %>" required />
                        </td>
                        <td>
                            <input type="text" class="company" name="company" value="<%= user.company_name %>" readonly />
                        </td>
                        <td>
                            <input type="email" class="email" name="email" value="<%= companyUser.email %>" required />
                        </td>
                        <td>
                            <select name="role" class="role">
                                <option value="MANAGER" <%= companyUser.role === 'MANAGER' ? 'selected' : '' %>>Manager</option>
                                <option value="OPERATOR" <%= companyUser.role === 'OPERATOR' ? 'selected' : '' %>>Operator</option>
                            </select>
                        </td>
                        <td>
                            <div class="actionButtonsContainer">
                                <button type="submit" class="saveButton actionButton">Save</button>
                                <button type="button" class="cancelButton actionButton" data-user-id="<%= companyUser.id %>">Cancel</button>
                            </div>
                        </td>
                    </form>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
<script src="/js/admin/userManagement.js"></script>
</html>